/* GRID POKEMON LIST */
.grid-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1.5rem;
}
.grid-pokemon figure {
  height: 100%;
  width: 100%;
}
/* CARD */
.grid-pokemon li {
  background: var(--gray-8);
  box-shadow: var(--shadow-2);
  border: var(--border-size-1) solid var(--gray-7);
  height: 10rem;
  width: 100%;
  border-radius: var(--radius-conditional-3);
}
.grid-pokemon li:hover {
  transition-duration: 1s;
  box-shadow: var(--shadow-4);
  border: var(--border-size-1) solid var(--gray-1);
  cursor: pointer;
  animation: var(--animation-shake-y);
}
.grid-pokemon footer {
  height: 30%;
  display: flex;
  align-items: center;
}
/* TEXT NAME POKEMON */
.grid-pokemon figcaption {
  text-transform: capitalize;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
  letter-spacing: var(--font-letterspacing-3);
}
/* CONTAINER IMAGE */
.grid-pokemon header {
  height: 70%;
  display: grid;
  place-content: center;
}
.grid-pokemon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fade-out {
  animation: var(--animation-fade-out) forwards;
}
.fade-in {
  animation: var(--animation-fade-in) forwards;
}


